@keyframes grid-anim {
    50% { background-color: #bac5ff; color: #bac5ff; }
    100% { background-color: #d4dbff; color: black; }
}

body {
    font: 1.6vw 'Helvetica', sans-serif;
    font-variant: small-caps;
    margin: 0;
}

.blue-style {
    background-color: #758eff;
    font-weight: bold;
    font-variant: small-caps;
    color: #ffffff;
    border: 0;
    border-radius: 6%;
}
.blue-style:hover {
    background-color: #8a9fff;
}

.container {
    background-color: #d9d9d9;
    width: 35vw;
    height: 80vh;
    margin: 100px auto 0 auto;
    border: 3px solid #5e5e5e;
    border-radius: 5%;
} 

.container > div {
    background-color: #ebebeb;
    width: 90%;
    margin: 2.4% auto 2.4% auto;
    border: 3px solid #5e5e5e;
}

.container > div:first-of-type {
    height: 35%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2.6% 2%;
}

.title {
    font-size: 1.4em;
    font-weight: bold;
    color: #404040;
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
}

label {
    font-size: 0.7em;
    grid-row: 3/4;
}

[for="lotto"] {
    grid-column: 1/3;
    margin-left: 8%;
}
.lotto-select {
    grid-column: 1/4;
    grid-row: 4/5;
    margin-left: 5%;
}

[for="sets"] {
    grid-column: 4/6;
}
.set-select {
    grid-column: 4/6;
    grid-row: 4/5;
    margin-right: 8%;
}

.container > div:last-child {
    height: 56%;
    text-align: center;
}

.submitbtn {
    font-size: 1em;
    font-weight: bold;
    width: 65%;
    height: 7vh;
    margin: 2% 0 2% 0;
}
.submitbtn-innactive {
    background-color: gray;
    font-size: 1em;
    font-weight: bold;
    width: 65%;
    height: 7vh;
    margin: 2% 0 2% 0;
}
.submitbtn-innactive:hover {
    background-color: gray;
}

.numbergrid {
    background-color: #d4dbff;
    width: 80%;
    height: 72%;
    padding: 0.7%;
    margin: 0 auto;
    border: 4px solid transparent;
    border-radius: 5%;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.65%;
}
.numbergrid:hover, .numbergrid:active {
    border: 4px solid #bac5ff;
}
.numbergrid-animated {
    animation: grid-anim 5s;
}
.numbercell {
    font-size: 0.56em;
    display: static
}